<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Login Page</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% load bootstrap5 %}
        {% bootstrap_css %}
        {% bootstrap_javascript %}
    </head>
    <body>
        <form method="POST" class='login_form'>
        <div>
            <label for="role">Select Role:</label>
            <select name="role" id="role">
                <option value="admin">Admin</option>
                <option value="restaurant">Restaurant</option>
                <option value="delivery">Delivery</option>
                <option value="customer">Customer</option>
            </select>
        <div>
            <label for="email">Email:</label>
            <input type="email" name="email" id="email" required>
            
        </div>
        <div>
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" required>
        </div>
        <div>
            <input type="submit" value="Login">
        </div>
        </form>
    </body>
</html>