{% extends 'orders/header.html' %}
{% load custom_tags %}

{% block content %}

<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 mt-3">
            <table class="table">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Order ID</th>
                    <th scope="col">Food Name</th>
                    <th scope="col">Category</th>
                    <th scope="col">Restaurant</th>
                    <th scope="col">Quantity</th>
                    <th scope="col">Price</th>
                    <th scope="col">Customer</th>
                    <th scope="col">Customer Contact</th>
                    <th scope="col">Order time</th>
                    <th scope="col">Order status</th>
                    <th scope="col">Update Order Status</th>
                </tr>
                </thead>
                <tbody id="orders_table">
                    {% for order in Orders %}
                        <td>{{order.id}}</td>
                        <td>{{order.username}}</td>
                        <td>{{order.name}}</td>
                        <td>{{order.restaurant}}</td>
                        <td>{{order.quantity}}</td>
                        <td>{{order.price}}</td>
                        <td>{{order.customer}}</td>
                        <td>{{order.customer_contact}}</td>
                        <td>{{order.time_of_order}}</td>
                        <td>{{order.status}}</td>
                        <td>
                        <button class="btn btn-primary" onclick="updateOrderStatus({{order.id}})">Update</button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="justify-content-center model" style="display : none ">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editProfileModalLabel">Update Order Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <form class="modal-body">
                <div class="mb-3 ">
                    <div>
                        <label for="OrderID" class="form-label">Order ID</label>
                        <input type="text" class="form-control" id="OrderID" name="OrderID" required>
                    </div>
                    <div>
                        <label for="DeliveryDate" class="form-label">Delivery Date</label>
                        <input type="date" class="form-control" id="DeliveryDate" name="DeliveryDate" required>
                    </div>
                    <div>
                        <label for="DeliveryTime" class="form-label">Delivery Time</label>
                        <input type="time" class="form-control" id="DeliveryTime" name="DeliveryTime" required>
                    </div>
                    <div>
                    <label for="newStatus" class="form-label">Update Status</label><br>
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example">
                        <option selected>Update the Status</option>
                        <option value="1">Delivered</option>
                        <option value="2">Preparing</option>
                        <option value="3">On the way</option>
                    </select>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js">
</script>

<script>
  function updateOrderStatus(order_id){
    {% comment %} 
    This function will be called when the user clicks on the update button.
    {% endcomment %}
  }


{% endblock %}